<!DOCTYPE html>
<html>
  <head>
    <title>The Mappable Universe</title>

    <link href="/styles/style.css" rel="stylesheet">
    <%- srnet %>
    <!-- NO LIBRARIES UNLESS ICONS -->
    <!-- MAKE THEM PART OF EJS WHEN ARE, SO ITS A CLEANER HTML FILE -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body> 
    <span id="title-screen" class="center akaya">The Mappable Universe</span>
    <div id = "game-options" class="center">
    	<input id = "username-input" class="input" placeholder = "Username" value = "Player"/>
    	<div id = "solo" class="button">
    		<span>Solo</span>
    	</div>
    	<div id = "multiplayer" class="button">
    		<span>Multiplayer</span>
    	</div>
    </div>
    <button></button>
    <script src = "/scripts/script.js"></script>
  </body>
</html>