<!DOCTYPE html>
<html>
  <head>
    <title>The Mappable Universe</title>

    <link href="/styles/style.css" rel="stylesheet">
    <%- scripts %>
    <!-- NO LIBRARIES UNLESS ICONS -->
    <!-- MAKE THEM PART OF EJS WHEN ARE, SO ITS A CLEANER HTML FILE -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <br/> 
    <br/>

    <div class="center" id="solo-file-div"> 
      <h3 class="error akaya" id="possible-solo-error"></h3>
      <h1 class="akaya">Choose a load: <input type="file" id="load_file_solo" class="akaya"/></h1> 
    </div>

    <script src = "/script/script-s.js"></script>
    <script src="/script/SAVE_FILE.js"></script>
  </body>
</html>