@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Roboto&display=swap');

:root {
	--deepblue: #04182e;
	--neongreen: #14fa9e;
	--hotpink: #f011d2;
}

body {
	padding: 0;
	margin: 0;
  background: var(--deepblue);
  font-family: Roboto;
  color: white;
  height: 100%;
}

span {
	display: block;
}

input {
  padding: 8px;
  border: hidden;
  color: black;
  font-family: Roboto;
  border-radius: 8px;
  font-family: Roboto;
  font-size: 14px;
}

input:focus {
	background: #fcfcfc;
}

input::value {
	text-align: center;
}

#title-screen {
	font-size: 60px;
	margin: 12px;
}

.akaya {
	font-family: Akaya Telivigala;
}

.center {
  margin: auto;
  text-align: center;
}

.button {
  padding: 8px;
	width: 200px;
  border-radius: 8px;
  margin-top: 8px;
  font-family: Akaya Telivigala;
  transition: filter ease-in-out 2s;
}

.button:hover {
  filter: brightness(150%);
}

#solo {
	background: var(--hotpink);
}

#multiplayer {
	background: var(--neongreen);
	color: black;
}

#game-options {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: fixed;
	top: 50%;
	left: 50%;
	background: white;
	padding: 16px;
	border-radius: 8px;
	transform: translate(-50%, -50%);
}