@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Roboto&display=swap');

:root {
	--deepblue: #04182e;
	--neongreen: #14fa9e;
	--hotpink: #f011d2;
	--lemonyellow: #f8fc03;
}

body {
	padding: 0;
	margin: 0;
  background: var(--deepblue);
  font-family: Roboto;
  color: white;
  height: 100%;
}

span {
	display: block;
}

input {
  padding: 6px;
  border: hidden;
  color: black;
  font-family: Roboto;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
}

input:focus {
	background: #fcfcfc;
}

#title-screen {
	font-size: 60px;
	margin: 12px;
}

.akaya {
	font-family: Akaya Telivigala;
}

.center {
  margin: auto;
  text-align: center;
}

.button {
  padding: 8px;
	width: 200px;
  border-radius: 8px;
  margin-top: 8px;
  font-family: Akaya Telivigala;
  transition: background-color ease-in-out 2s;
}

.button:hover {
  background-color: antiquewhite;
}

#solo {
	background: var(--hotpink);
}

#multiplayer {
	background: var(--neongreen);
	color: black;
}

#game-options {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: fixed;
	top: 50%;
	left: 50%;
	background: white;
	padding: 16px;
	border-radius: 8px;
	transform: translate(-50%, -50%);
}

#load_file_solo {
  border: hidden;
  border-radius: 8px;
  background-color: var(--lemonyellow);
}

#solo-file-div {
  width: 500px;
  padding: 8px;
  border-radius: 8px;
  background-color: burlywood;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   /*appearance: none;*/       /* Remove default arrow */
   /*background-image: url(...);*/   /* Add custom arrow */
}

#server {
	width: 100%;
	padding: 8px;
	background: white;
	font-size: 14px;
	margin-top: 12px;
	font-family: Roboto;
	border: 1px solid lightgrey;
}

.error {
  color: red;
}